@import url("https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Silkscreen:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f0923;
  font-family: "Silkscreen", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url(images/hero-pixel.png);
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}
.logo img {
  width: 100px;
  height: auto;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

h1 {
  font-family: "Silkscreen", sans-serif;
  font-size: 4rem;
  letter-spacing: -8px;
  color: #e94697;
  font-weight: 400;
  margin-top: 20px;
}
h2 {
  font-family: "Silkscreen", sans-serif;
  font-size: 3rem;
  letter-spacing: -2px;
  color: #e94697;
  font-weight: 400;
  margin-top: 20px;
  text-shadow: 0px 0px 3px;
}
h3 {
  font-size: 2rem;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 200;
  text-shadow: 0px 0px 3px;
}
.white {
  color: #ffffff !important;
}
.rose {
  color: #e94697 !important;
}

.container-hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 70px 110px 0px 130px;
}

.primary-button {
  background-color: #3d36b0;
  color: #ffffff;
  border: none;
  font-family: "Silkscreen", sans-serif;
  padding: 15px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 6px 7px 0px 2px rgba(0, 0, 0, 1);
}

.secondary-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  font-family: "Silkscreen", sans-serif;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.button-shop {
  padding: 8px 15px;
  font-size: 1rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 80px 80px;
}

.cards p {
  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 3;
}
.card img {
  width: 300px;
  height: auto;
}

.fond-pixel {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
  color: white;
  z-index: 1;
}

.fond-pixel::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: 4px;
  right: 4px;
  background: #ffffff;
  z-index: -1;
}

.fond-pixel::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -5px;
  right: -5px;
  background: #ffffff;
  z-index: -1;
}

.header-game {
  position: relative;
  background-image: url(images/Banniere-bleu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 100px;
  color: #ffffff;
  z-index: 20;
}

.header-game img {
  width: 50px;
  height: auto;
  z-index: 2;
}
.align {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.filtre-console {
  display: flex;
  gap: 15px;
  margin-top: 80px;
}
.console img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.console {
  position: relative;
  display: inline-block;
  background-color: #1e2b55;
  padding: 20px;
  margin: 20px;
  width: 140px;
  height: 140px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 100;
  cursor: pointer;
}

.console::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: 4px;
  right: 4px;
  background-color: #1e2b55;
  z-index: -1;
  cursor: pointer;
}

.console::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -5px;
  right: -5px;
  background-color: #1e2b55;
  z-index: -1;
  cursor: pointer;
}

.active {
  position: relative;
  display: inline-block;
  background-color: rgb(198, 198, 198);
  padding: 20px;
  margin: 20px;
  width: 140px;
  height: 140px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.active::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: 4px;
  right: 4px;
  background-color: rgb(198, 198, 198);
  z-index: -1;
}

.active::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -5px;
  right: -5px;
  background-color: rgb(198, 198, 198);
  z-index: -1;
}

.products-by-console {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;
  background-color: #1a0c35;
  margin: -80px 120px;
}

.cards-console {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 80px 80px;
}

.cards-console p {
  color: #ffffff;
}

.card-console {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  z-index: 3;
}
.card-console img {
  width: 150px;
  height: auto;
}

.fond-pixel-console {
  position: relative;
  display: flex;
  background-color: #ffffff;
  padding: 3px;
  margin: 20px;
  color: white;
  z-index: 1;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
}

.fond-pixel-console::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -2px;
  left: 4px;
  right: 4px;
  background: #ffffff;
  z-index: -1;
}

.fond-pixel-console::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -5px;
  right: -5px;
  background: #ffffff;
  z-index: -1;
}

.bande-bleu {
  width: 100%;
  margin-top: 200px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #3d36b0;
  margin-top: -140px;

  padding: 100px 0px 200px 0px;
}
.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #100a25;
  padding: 80px;
  width: 50vw;
  height: 100vh;
}
.form-contact input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 4px solid #ffffff;
  background-color: transparent;
}
.form-contact textarea {
  width: 80%;
  height: 150px;
  padding: 10px;
  font-size: 1rem;
  border: 4px solid #ffffff;
  background-color: #ffffff;
}

.form-contact input::placeholder {
  color: #ffffff;
  font-family: "Silkscreen", sans-serif;
}
.form-contact textarea::placeholder {
  color: #000000;
  font-family: "Silkscreen", sans-serif;
}

.connexion-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.connexion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  position: relative;
}

.croix {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.croix img {
  width: 50px;
}

.lien {
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Silkscreen", sans-serif;
  display: flex;
  gap: 10px;
}

.header-game-catalogue {
  margin: 40px 0px;
  height: 250px;
}

.catalogue-page {
  margin: 40px 0px;
  background: none;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  background-color: #0f0a1e; 
  color: white;
  padding: 10px 45px 10px 15px; 
  font-family: "Silkscreen", sans-serif;
  font-size: 0.8rem;
  border: 4px solid #ffffff; 
  cursor: pointer;
  outline: none;
}


.select-wrapper::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 33%;
  width: 8px;
  height: 8px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;

  transform: rotate(45deg);
  pointer-events: none;
}

.filtre {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
  margin-bottom: -50px;
}

.filtre input {
  width: 200px;
  padding: 10px;
  font-size: 0.8rem;
  border: 4px solid #ffffff;
  background-color: transparent;
}
.filtre input::placeholder {
  width: 200px;
  color: #ffffff;
  font-family: "Silkscreen", sans-serif;
}
.name-game-console {
  text-align: center;
  max-width: 200px;
}

input:focus {
  color: rgb(255, 255, 255);
}

.kpi-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  border-bottom: 6px solid #ffffff;
}

.exemplaire-card {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
  padding: 80px;
  border-bottom: 6px solid #ffffff;
  width: 90%;
}
.game-details p {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 8px 0;
}

.fond-pixel-kpi img {
  width: 300px;
  height: auto;
}

.fond-pixel-kpi {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  color: white;
  z-index: 1;
}
.fond-pixel-kpi::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -2px;
  left: 4px;
  right: 4px;
  background: #ffffff;
  z-index: -1;
}
.fond-pixel-kpi::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -5px;
  right: -5px;
  background: #ffffff;
  z-index: -1;
}

.delete-button {
  background-color: #ff0000;
}

.droite-section {
  margin-left: 50px;
}

input[type="number"] {
  font-family: "Silkscreen", sans-serif;
  padding: 10px;
  color: black;
  color: #000000;/
}
